body {
	min-width:900px;
	margin: 0;
	font-family: Lato
}

.top-header {
	border-bottom:1px solid #CCC;
	height: 30px;
	padding: 10px;
}

.top-header-left {
	padding: 3px;
	float: left;
}

.top-header-left span {
	color: #CCC;
	font-size: 13px;

}

.top-header-left span i {
	color: #cca876;
	margin-right:3px;
}


.top-header-right {
	float:right;
}

.iconite {
	color:white;
	background-color: #ccc;
	border-radius: 15px;
	line-height: 30px !important; 
	height:30px;
	width:30px;
	text-align:center;
	margin-right: 3px;
}



.header {
	height: 100px;
}

.header-left {
	float:left
}

.header-left img {
	margin: 35px;
}

.header-right {
	float:right
}

.menu-item {
	margin: 30px 18px;
	display: block;
	float:left;
	color: #444;
	text-decoration:none;
	padding: 5px 0;
}

.menu-item:hover {
	border-bottom: 2px solid #cca876;
}

.menu-item-last {
	margin: 22px 18px;
	display: block;
	float:left;
	text-decoration:none;
	padding: 12px 25px;
	color: #cca876;
	border: 2px solid #cca876;
}

.slider {
	height: 550px;
	background-image: url(../img/slider.jpg);
	background-position:center center;
	background-size: cover;
}


.col3-container {
	text-align:center;
	margin: 0 -10px;
	overflow: hidden;
	padding-left:10%;
}

.col3 {
	float:left;
	border: 1px solid #cca876;
	height: 200px;
	padding: 50px 40px;
	width: 20%;
	margin: 40px;
}


.about-us-container {
	height: 550px;
	position: relative;
}

.au-bg {
	height: 480px;
	margin: 35px 0;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-image: url(../img/slider.jpg);
	background-size: cover;
}

.au-text-container {
	background-image: url(../img/bg1.jpg);
	height: 550px;
	margin: 0 496px;
	position:absolute;
	top: 0;
	left: 0;
	width: 935px;	
}
.Terms {
font-family: 'Rammetto One', cursive;
text-align:center;
height:150px;
size:125px;

}
.Terms1 {
height:350px;
float:right;
text-decoration:none;


}